<div id="sidebar">
			<h4>Urgent</h4>
			<ul>
				<% @urgent.each do |task| %>
					<li><%= link_to h(task.short), task %></li>
				<% end %>
			</ul>
			<h4>Latest</h4>
			<ul>
				<% @latest.each do |task| %>
					<li><%= link_to h(task.short), task %></li>
				<% end %>
			</ul>
		</div>
